body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    font-family: 'Julee', cursive;
}

#errors {
    color: red;
}

#board {
    border: 3px solid black;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    border: 1px solid #989898;
    width: 43.1px;
    height: 43.1px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.digits {
    width: 400px;
    height: 40px;
    margin: 27px auto 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.number {

    width: 40px;
    height: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 1.76px;
    display: flex;

}

.clickedNum {
    background-color: #a9a9a9;
}

.clickedTile {
    background-color: #a9a9a9;
}